# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Publish to NPM registry

# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

on:
  workflow_dispatch:
    inputs:
      npm_registry:
        description: 'Custom NPM_REGISTRY'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      PACKAGE_VERSION: ${{ steps.set_var.outputs.PACKAGE_VERSION }}
    strategy:
      matrix:
        node-version: [20.15.1]
    env:
      NPM_REGISTRY: ${{ github.event.inputs.npm_registry || 'https://registry.npmjs.org' }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: save $PACKAGE_VERSION
        id: set_var
        run: |
          echo "PACKAGE_VERSION=`jq -r .version package.json`" >> $GITHUB_ENV
          echo "PACKAGE_VERSION=`jq -r .version package.json`" >> $GITHUB_OUTPUT
      - name: Set npm configuration
        run: |
          if [ -n "$NPM_REGISTRY" ]; then
          npm config set registry $NPM_REGISTRY
          echo $CUSTOM_REGISTRY_AUTH >> ~/.npmrc
          npm config set strict-ssl false
          fi
      - run: npm install -g pnpm
      - run: npm ci
      - run: npm run build --if-present
      - name: Use NPM Token
        uses: dkershner6/use-npm-token-action@v1
        with:
          token: ${{ secrets.REGISTRY_TOKEN }}

      - run: npm pack
      - uses: actions/upload-artifact@v4
        with:
          name: telepilot
          path: n8n-nodes-telepilot-2-${{ env.PACKAGE_VERSION }}.tgz

  build-and-test-in-docker:
    needs: [build]
    name: linux-${{ matrix.platform }}-glibc - build the node addon in docker
    runs-on: [ubuntu-latest]
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        platform:
          - x64
          - arm64
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: telepilot
          path: .
      - run: tree .
      - name: Install Telepilot in Ubuntu n8n
        run: |
          mkdir -p ~/.n8n/nodes && cp n8n-nodes-telepilot-2-${{ needs.build.outputs.PACKAGE_VERSION }}.tgz ~/.n8n/nodes && cd ~/.n8n/nodes
          npm install n8n-nodes-telepilot-2-${{ needs.build.outputs.PACKAGE_VERSION }}.tgz
      - name: Run n8n in Ubuntu n8n
        run: |
          N8N_HOST=0.0.0.0 N8N_PORT=5678 N8N_ENCRYPTION_KEY=${{ secrets.N8N_KEY }} npx --yes n8n@2.8.3 \
            import:credentials -i ~/.n8n/nodes/node_modules/n8n-nodes-telepilot-2/deploy/test-n8n-imports/credentials/credential-dummy.json
          npx n8n@2.8.3 \
            import:workflow -i ~/.n8n/nodes/node_modules/n8n-nodes-telepilot-2/deploy/test-n8n-imports/workflows/Telepilot_getMe.json
          npx n8n@2.8.3 execute --id r2a0u5tez9fg1WW6 > execute-result.log 2>&1 || exit 0
      - name: Test Telepilot GetMe execution result
        run: |
          cat execute-result.log
          cat execute-result.log | grep -E "Please login|Credentials could not be decrypted|n8n-nodes-telepilot-2" || exit 1

  publish:
    name: 'Publish to npm'
    needs: [build, build-and-test-in-docker]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/download-artifact@v4
        with:
          name: telepilot
          path: .
      - run: tree .
      - name: Publish
        run: npm publish n8n-nodes-telepilot-2-${{ needs.build.outputs.PACKAGE_VERSION }}.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
